<div class="container">
  <img src="/assets/img1.jpg" class="image-content" />
  <div class="data-content">
    <h1>Discover the colorful world</h1>
    <h1>NEW ADVENTURE</h1>
    <hr />
    <h1>lorem ipsum</h1>
    <button>DISCOVER</button>
  </div>
  <div class="search-container">
    <h2>Search and Book All of Our Destinations</h2>
    <form>
      <input type="text" placeholder="Search a city" />
    </form>
  </div>
  <section class="services">
    <h2>OUR SERVICES</h2>
    <hr />
    <article>
      <h3>TRAVEL</h3>
      <h4>Article Title</h4>
      <p>lorem ipsum</p>
    </article>
    <article>
      <h3>Arranjements</h3>
      <h4>Article Title</h4>
      <p>lorem ipsum</p>
    </article>
    <article>
      <h3>Guide</h3>
      <h4>Article Title</h4>
      <p>lorem ipsum</p>
    </article>
    <article>
      <h3>Activities</h3>
      <h4>Article Title</h4>
      <p>lorem ipsum</p>
    </article>
  </section>
</div>
